<section class="about" id="about">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6">
          <img id="mugshot" src="img/mug.JPG" class="img-fluid border-0 rounded-pill" style="height: 35rem;" alt="Profile Picture">
        </div>
        <div id="about-me" class="col-lg-6 ">
          <h3>Hello! <span style="color:#E96F85;">I'm Alec</span></h4>

          <p>I'm a recent Backend Development graduate, equipped with a solid foundation in JavaScript, Node.js, and database management.</p>
          <p>Two years ago I decided to change career paths and study Backend Development, and I haven't looked back!</p>
          <p>I'm currently looking for my first professional role as a Developer - if you are interested in working with me, please <a class="contact-redirect" href="#contact">get in touch!</a></p><br>
          <h3>Tools I'm currently using</h3>
          <hr>
          <p>
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40" style="margin: 5px;" />
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="40" height="40" style="margin: 5px;"/>
            <img src="https://img.icons8.com/?size=100&id=SDVmtZ6VBGXt&format=png&color=000000" alt="express" width="40" height="40" style="margin: 5px;"/>
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" alt="mongodb" width="40" height="40" style="margin: 5px;"/>
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40" style="margin: 5px;"/>
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg" alt="docker" width="40" height="40" style="margin: 5px;"/>
          </p>
        </div>
      </div>
    </div>
  </section>