<section class="about" id="about">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6">
          <img id="mugshot" src="img/mug.JPG" class="img-fluid border-0 rounded-pill" style="height: 35rem;" alt="Profile Picture">
        </div>
        <div id="about-me" class="col-lg-6 ">
          <h2>About Me</h2>
          <h3>Hello! <span style="color:#E96F85;">I'm Alec</span></h4>

          <p>I'm a recent Backend Development graduate, equipped with a solid foundation in JavaScript, Node.js, and MySQL database management.</p>
          <p>Two years ago I decided to change career paths and study Backend Development, and I haven't looked back!</p>
          <p>I'm currently looking for my first professional role as a Developer - if you are interested in working with me, please get in touch!</p>
        </div>
      </div>
    </div>
  </section>