<header id="home">
  <div class="container-fluid header-content">
    <div class="row">
      <div class="col">
        <div class="content-box text-center text-light">
          <h1>Welcome to my page</h1>
          <h2>I am <span class="aboutMe"></span></h2>
          <a href="./docs/cv.pdf" class="btn btn-primary" , target="_blank"
            >DOWNLOAD CV</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
